@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgb(231, 230, 230);
}

nav .wrapper {
    position: fixed;
    top: 0%;
    z-index: 100;
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 0rem 1rem;
    align-items: center;
    padding: 0px 0.3rem;
    background-color: #fff;
    flex-wrap: wrap;
    /* overflow: hidden; */
}

nav .wrapper .left,
nav .wrapper .right {

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
}

nav .wrapper .left .logo {
    font-size: 2rem;
    font-weight: 500;
    color: rgba(0, 0, 255, 0.884);
    position: relative;
    top: 4px;

}

nav .wrapper .left {
    padding-left: 3rem;
    display: flex;
    gap: 0.7rem;
    flex-wrap: wrap;
    position: relative;
    left: 3.5%;
}

nav .wrapper .left .logo i {
    color: rgba(0, 0, 255, 0.884);
    font-size: 2.5rem;
}

nav .wrapper .left .input {
    width: 350px;
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 0.8rem;
    background-color: rgb(218, 232, 235);
    border-radius: 0.5rem;
}

nav .wrapper .left .input input[type='search'] {
    width: 22rem;
    border: none;
    background: transparent;
}

nav .wrapper .left .input input[type='search']::placeholder {
    font-size: 0.8rem;
    color: rgb(54, 51, 51);
    /* font-weight: 100; */
}

nav .wrapper .left .input i {
    color: gray;
    font-size: 1.2rem;
}

nav .wrapper .right .home,
nav .wrapper .right .jobs,
nav .wrapper .right .network,
nav .wrapper .right .message,
nav .wrapper .right .noti,
nav .wrapper .right .me,
nav .wrapper .right .dot {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    flex-wrap: wrap;
    flex-direction: column;
    cursor: pointer;
    padding: 0px 4px;
}

nav .wrapper .right .home,
nav .wrapper .right .jobs,
nav .wrapper .right .network,
nav .wrapper .right .message,
nav .wrapper .right .noti,
nav .wrapper .right .me {
    color: gray;
}

nav .wrapper .right .home i,
nav .wrapper .right .jobs i,
nav .wrapper .right .network i,
nav .wrapper .right .message i,
nav .wrapper .right .noti i {
    font-size: 1.5rem;
}

nav .wrapper .right .me .down,
nav .wrapper .right .dots .down {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
}

nav .wrapper .right .me .down i {
    color: gray;
}

nav .wrapper .right .me .down i:hover {
    color: black;
}

nav .wrapper .right .jobs i:hover,
nav .wrapper .right .network i:hover,
nav .wrapper .right .message i:hover,
nav .wrapper .right .noti i:hover,
nav .wrapper .right .me:hover,
nav .wrapper .right .dots i:hover {
    color: black;
}

h6:hover {
    color: black;
}

nav .wrapper .right .home,
h6 i {
    color: black;
}

nav .wrapper .right .me img:first-child {
    font-size: 0.9rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: gray;
    color: white;
}

nav .wrapper .right .me {
    border-right: 1px solid rgba(0, 0, 0, 0.24);
    padding: 0px 13px;
}

nav .wrapper .right .dots i {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: gray;
    font-size: 22px;
}

nav .wrapper .right .dots .down {
    position: relative;
    color: gray;
    top: 8px;

}

.anchor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px;
}

nav .wrapper .right .premium {
    text-decoration: none;
    font-size: 12px;
    color: gray;
    position: relative;
    top: -9px;
}

nav .wrapper .right .premium:hover {
    color: black;
}

.fa-square {
    position: relative;
    top: 6px;
    font-size: 30px;
    background: linear-gradient(35deg, rgba(255, 206, 19, 1) 0%, rgba(255, 0, 0, 1) 100%);
    color: transparent;
    -webkit-background-clip: text;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.left-section {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 245px;
    height: 35vh;
    border-radius: 18px;
    /* border: 1px solid white; */
    background: #fff;
    top: 15%;
    left: 5.5%;
    border: 0.3px solid rgba(128, 128, 128, 0.596);
    overflow: hidden;
}
.left-section .profile{
    display: flex;
    cursor: pointer;
    position: relative;
    flex-wrap: wrap;
    background:linear-gradient(rgba(0, 0, 255, 0.753),rgba(0, 0, 139, 0.979));
    height: 9vh;
    width: 245px;
}
.profile .img .im1{
    position: absolute;
    top: 45%;
    left: 22%;
    border: 2px solid whitesmoke;
    transform: translate(-50%);
    width: 77px;
    height: 77px;
    border-radius: 50%;
    overflow: hidden;
}
.content {
    left: 5%;
    top: 25%;
    display:block;
    position: relative;
}
.content h3{
    font-weight: 400;
}
.content small{
    position: absolute;
    color: gray;
    font-size: 12px;
}

.main-section {
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    top: 15%;
    border: 2px solid black;
    width: 610px;
    padding: 10px 0px;
}

.right-section {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
    position: fixed;
    width: 270px;
    height: 55vh;
    border-radius: 18px;
    border: 2px solid black;
    top: 16%;
    right: 5%;
}
.icon{
    display: block;
    flex-wrap: wrap;
    position: relative;
    top: 39%;
    left: 8%;
    width: 80% ;
    border: 1.5px dashed lightblue;
    border-radius: 5px;
}
.icon:hover{
    border: 3px dashed lightblue;
    background-color: rgba(128, 128, 128, 0.185);
}
.icon i{
    font-weight: 800;
    font-size: 15px;
    margin-left:  10px;
}
.icon small{
    font-weight: 290;
    font-size: 13px;
    margin-left: 10px;
}
.pre{
    width: 245px;
    height: 11vh;
    border-radius: 11px;
    background: #fff;
    display: flex;
     flex-wrap: wrap;
     flex-direction: column;
     position: fixed;
     top: 52%;
     border: 0.3px solid rgba(128, 128, 128, 0.596);
}
.pre small{
    /* border: 2px underline gray; */
    position: relative;
    top: 15%;
    left: 8%;
    font-size: 12px;
     color: gray;
     
}
.pre i{
    position: relative;
    top: 22%;
    left: 8%;
    font-weight: 600;
    width: 20%;
    font-size: 17px;
}
.pre .trial{
     
    position: relative;
    /* top: 7%; */
    color: gray;
    left: 17%;
    font-weight: 500;
    font-size: 12px;
    text-decoration: none;
}
.pre .trial:hover{
    color: rgba(0, 0, 255, 0.692);
}
.connection{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 245px;
    height: 11vh;
    border-radius: 11px;
    background: #fff;
    display: flex;
     flex-wrap: wrap;
     flex-direction: column;
     position: fixed;
     top: 64%;
     border: 0.3px solid rgba(128, 128, 128, 0.596);
}   
 .small1{
    position: absolute;
    top: 22%;
    font-size: 12px;
    left: 10%;
}
.small2{
    position: absolute;
    top: 40%;
    font-size: 12px;
    left: 10%;
    color: gray;

}
.small1:hover,
.small2:hover,
.fa-user-plus:hover{
    text-decoration: underline;
}
.fa-user-plus{
    font-size: 12px;
    position: absolute;
    top: 29%;
    right: 10%;
    color: black;
}
.unerline{
    display: flex;
    flex-wrap: wrap;
}

@media only screen and (max-width: 768px) {
    nav.wrapper.right.dots {
        display: none;
    }
    nav.wrapper.right.dots.down {
        display: none;
    }
    nav.wrapper.right.premium {
        display: none;
    }
    nav.wrapper.right.me {
        display: none;
    }
    nav.wrapper.right.anchor {
        display: none;
    }
    nav.wrapper.right.connection {
        display: none;
    }
}
.saveditmes{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 245px;
    height: 16vh;
    border-radius: 11px;
    background: #fff;
     position: fixed;
     top: 76%;
     border: 0.3px solid rgba(128, 128, 128, 0.596);
}
.items{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 12px;
    padding: 10px;
}
.links{
    text-decoration: none;
    color: black;
    font-size: 13px;
    font-weight: 400;
    padding: 0px 18px;
}
.links:hover{
    text-decoration: underline;
}
.feeds{
    /* align-items: center; */
    position: relative;
    top:2%;
    right:11%;
    font-weight: 350;
}