@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgb(231, 230, 230);
}

nav .wrapper {
    position: fixed;
    top: 0%;
    z-index: 100;
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 0rem 1rem;
    align-items: center;
    padding: 0px 0.3rem;
    background-color: #fff;
    flex-wrap: wrap;
    /* overflow: hidden; */
}

nav .wrapper .left,
nav .wrapper .right {

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
}

nav .wrapper .left .logo {
    font-size: 2rem;
    font-weight: 500;
    color: rgba(0, 0, 255, 0.884);
    position: relative;
    top: 4px;

}

nav .wrapper .left {
    padding-left: 3rem;
    display: flex;
    gap: 0.7rem;
    flex-wrap: wrap;
    position: relative;
    left: 3.5%;
}

nav .wrapper .left .logo i {
    color: rgba(0, 0, 255, 0.884);
    font-size: 2.5rem;
}

nav .wrapper .left .input {
    width: 350px;
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 0.8rem;
    background-color: rgb(218, 232, 235);
    border-radius: 0.5rem;
}

nav .wrapper .left .input input[type='search'] {
    width: 22rem;
    border: none;
    background: transparent;
}

nav .wrapper .left .input input[type='search']::placeholder {
    font-size: 0.8rem;
    color: rgb(54, 51, 51);
    /* font-weight: 100; */
}

nav .wrapper .left .input i {
    color: gray;
    font-size: 1.2rem;
}

nav .wrapper .right .home,
nav .wrapper .right .jobs,
nav .wrapper .right .network,
nav .wrapper .right .message,
nav .wrapper .right .noti,
nav .wrapper .right .me,
nav .wrapper .right .dot {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    flex-wrap: wrap;
    flex-direction: column;
    cursor: pointer;
    padding: 0px 4px;
}

nav .wrapper .right .home,
nav .wrapper .right .jobs,
nav .wrapper .right .network,
nav .wrapper .right .message,
nav .wrapper .right .noti,
nav .wrapper .right .me {
    color: gray;
}

nav .wrapper .right .home i,
nav .wrapper .right .jobs i,
nav .wrapper .right .network i,
nav .wrapper .right .message i,
nav .wrapper .right .noti i {
    font-size: 1.5rem;
}

nav .wrapper .right .me .down,
nav .wrapper .right .dots .down {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
}

nav .wrapper .right .me .down i {
    color: gray;
}

nav .wrapper .right .me .down i:hover {
    color: black;
}

nav .wrapper .right .jobs i:hover,
nav .wrapper .right .network i:hover,
nav .wrapper .right .message i:hover,
nav .wrapper .right .noti i:hover,
nav .wrapper .right .me:hover,
nav .wrapper .right .dots i:hover {
    color: black;
}

h6:hover {
    color: black;
}

nav .wrapper .right .home,
h6 i {
    color: black;
}

nav .wrapper .right .me img:first-child {
    font-size: 0.9rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: gray;
    color: white;
}

nav .wrapper .right .me {
    border-right: 1px solid rgba(0, 0, 0, 0.24);
    padding: 0px 13px;
}

nav .wrapper .right .dots i {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: gray;
    font-size: 22px;
}

nav .wrapper .right .dots .down {
    position: relative;
    color: gray;
    top: 8px;

}

.anchor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px;
}

nav .wrapper .right .premium {
    text-decoration: none;
    font-size: 12px;
    color: gray;
    position: relative;
    top: -9px;
}

nav .wrapper .right .premium:hover {
    color: black;
}

.fa-square {
    position: relative;
    top: 6px;
    font-size: 30px;
    background: linear-gradient(35deg, rgba(255, 206, 19, 1) 0%, rgba(255, 0, 0, 1) 100%);
    color: transparent;
    -webkit-background-clip: text;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* position: relative; */
    gap: 2rem;
}

.left-section {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 245px;
    height: 35vh;
    border-radius: 18px;
    /* border: 1px solid white; */
    background: #fff;
    top: 15%;
    left: 7%;
    border: 0.3px solid rgba(128, 128, 128, 0.596);
    overflow: hidden;
}

.left-section .profile {
    display: flex;
    cursor: pointer;
    position: relative;
    flex-wrap: wrap;
    background: linear-gradient(rgba(0, 0, 255, 0.753), rgba(0, 0, 139, 0.979));
    height: 9vh;
    width: 245px;
}

.profile .img .im1 {
    position: absolute;
    top: 45%;
    left: 22%;
    border: 2px solid whitesmoke;
    transform: translate(-50%);
    width: 77px;
    height: 77px;
    border-radius: 50%;
    overflow: hidden;
}

.content {
    left: 5%;
    top: 25%;
    display: block;
    position: relative;
}

.content h3 {
    font-weight: 400;
}

.content small {
    position: absolute;
    color: gray;
    font-size: 12px;
}

.icon {
    display: block;
    flex-wrap: wrap;
    position: relative;
    top: 39%;
    left: 8%;
    width: 80%;
    border: 1.5px dashed lightblue;
    border-radius: 5px;
}

.icon:hover {
    border: 3px dashed lightblue;
    background-color: rgba(128, 128, 128, 0.185);
}

.icon i {
    font-weight: 800;
    font-size: 15px;
    margin-left: 10px;
}

.icon small {
    font-weight: 290;
    font-size: 13px;
    margin-left: 10px;
}

.pre {
    width: 245px;
    height: 11vh;
    border-radius: 11px;
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: fixed;
    top: 52%;
    border: 0.3px solid rgba(128, 128, 128, 0.596);
}

.pre small {
    /* border: 2px underline gray; */
    position: relative;
    top: 15%;
    left: 8%;
    font-size: 12px;
    color: gray;

}

.pre i {
    position: relative;
    top: 22%;
    left: 8%;
    font-weight: 600;
    width: 20%;
    font-size: 17px;
}

.pre .trial {

    position: relative;
    /* top: 7%; */
    color: gray;
    left: 17%;
    font-weight: 500;
    font-size: 12px;
    text-decoration: none;
}

.pre .trial:hover {
    color: rgba(0, 0, 255, 0.692);
}

.connection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 245px;
    height: 11vh;
    border-radius: 11px;
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: fixed;
    top: 64%;
    border: 0.3px solid rgba(128, 128, 128, 0.596);
}

.small1 {
    position: absolute;
    top: 22%;
    font-size: 12px;
    left: 10%;
}

.small2 {
    position: absolute;
    top: 40%;
    font-size: 12px;
    left: 10%;
    color: gray;

}

.small1:hover,
.small2:hover,
.fa-user-plus:hover {
    text-decoration: underline;
}

.fa-user-plus {
    font-size: 12px;
    position: absolute;
    top: 29%;
    right: 10%;
    color: black;
}

.unerline {
    display: flex;
    flex-wrap: wrap;
}


.saveditmes {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 245px;
    height: 16vh;
    border-radius: 11px;
    background: #fff;
    position: fixed;
    top: 76%;
    border: 0.3px solid rgba(128, 128, 128, 0.596);
}

.items {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 12px;
    padding: 10px;
}

.links {
    text-decoration: none;
    color: black;
    font-size: 13px;
    font-weight: 400;
    padding: 0px 18px;
}

.links:hover {
    text-decoration: underline;
}

.feeds {
    /* align-items: center; */
    position: relative;
    top: 2%;
    left: 4%;
    font-weight: 350;
}

.main-section {
    display: block;
    flex-direction: column-reverse;
    position: absolute;
    top: 15%;
    border: 0.5px solid rgba(128, 128, 128, 0.418);
    width: 610px;
    /* padding: 10px 0px; */
    background: #fff;
    height: 20vh;
    overflow: hidden;
    border-radius: 0.8rem;
}

.main-section .search {
    display: flex;
    padding: 1rem;
    gap: 1rem;

}

.main-section .search input:hover {
    background-color: rgb(233, 233, 233);
}

.main-section input {
    transition: 0.3s all ease;
    padding: 0 1.2rem;
    cursor: pointer;
    border-radius: 5rem;
    border: 1px solid gray;
    width: 100%;
}

.posts {
    display: flex;
    justify-content: space-between;
    margin: 0.1rem 3.5rem;
}

.posts .post {
    display: flex;
    gap: 0.8rem;
    opacity: 0.9;
}

.posts .post .fa-image {
    color: #0a66c2;
    font-size: 1.2rem;
}

.posts .post .fa-calendar-days {
    color: #ffa600;
    font-size: 1.2rem;
}

.posts .post .fa-newspaper {
    color: #ff0000dc;
    font-size: 1.2rem;
}

.posts .post h5 {
    font-size: 0.9rem;
    font-weight: 300;
}

.post a {
    text-decoration: none;
    color: black;
}

.sortof {
    position: absolute;
    top: 36%;
    /* width: 450px;
    height: 0px;
    border: 1px solid gray; */
}

.sort {
    width: 470px;
    height: 0px;

}

.sort a {
    font-size: 12.5px;
    color: rgba(0, 0, 0, 0.507);
    text-decoration: none;
    margin-top: 30px;
    position: relative;
    left: 95%;
}

.sort a:before {
    content: "";
    display: block;
    width: 511px;
    height: 1px;
    background: gray;
    right: 100%;
    top: 50%;
    position: absolute;
}

.sort span {
    color: black;
    margin-left: 2px;
    font-size: 14px;
    font-weight: 400;
}

.right-section {
    margin-top: 95px;
    position: fixed;
    width: 270px;
    background: #fff;
    overflow: hidden;
    height: 65vh;
    border-radius: 0.8rem;
    border: 1px solid rgba(128, 128, 128, 0.411);
    top: 0%;
    bottom: 0%;
    left: 75%;
    z-index: -1;
}

.right-section .feed {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.5rem;
}

.right-section .feed h4 {
    font-weight: 400;
}
.right-section .feeds{
margin: 0 0.3rem;   
}
.right-section .feeds .one{
display: flex;
    gap: 0.9rem;
}
.right-section .feeds .two{
    color: gray;
    font-size: 0.67rem;
    margin: -1.5rem 3.5rem;

}
.feeds  a{
    text-decoration: none;
    color: black;
}
.feeds h5{
    margin: -0.1rem 0rem ;
    font-size: 1rem;
    font-weight: 400;
}
.right-section .two button{
    margin-top: 8px;
    border-radius:20px;
    border: 1px solid black;
    color:gray;
    font-size: 15px;
    padding: 3px 16px;
}

.right-section .two button:hover{
    border: 2px solid black;
    color:black;
}
.right-section .fa-plus{
    font-size: 18px;
    margin-right: 10px;
}
.right-section .three{
    margin:2.5rem 0.3rem;
    display: flex;
    gap: 0.9rem;
}
.right-section .four{
    color: gray;
    font-size: 0.67rem;
    margin: -4rem 3.8rem;
}
.right-section .four button{
    margin-top: 8px;
    border-radius:20px;
    border: 1px solid black;
    color:gray;
    font-size: 15px;
    padding: 3px 16px;
}

.right-section .four button:hover{
    border: 2px solid black;
    color:black;
}
.right-section .five{
    margin: 5rem 0.3rem;
    display: flex;
    gap: 0.9rem;
}
.right-section .six{
    color: gray;
    font-size:  0.67rem;
    margin: -6.6rem 3.8rem;
}
.right-section .six button{
    margin-top: 8px;
    border-radius:20px;
    border: 1px solid black;
    color:gray;
    font-size: 15px;
    padding: 3px 16px;
}

.right-section .six button:hover{
    border: 2px solid black;
    color:black;
}
.recommendation{
    display: flex;
    margin: 8rem 0rem;
    align-items: center;
    justify-content: center;
}

.recommendation a{
    margin-right: 20px;
    color: rgba(0, 0, 0, 0.726);
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 500;
}
.recommendation a:hover{
    color: #000;
}
.msg-section{
    position: fixed;
    top: 93%;    
    left: 73%;
    background-color:#fff; 
    width: 340px;
    height: 50px;
    padding: 9px 0px;
}
.msg a{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    text-decoration: none;
    color: #000;
    font-size: 14px;
    font-weight: 400;
    gap: 10px;
}
.msg img{
    margin-left: 10px;
}   
.icons{
    z-index: 100;
    color: #525151;
    display: flex;
    gap: 15px;
    justify-content: center;
    position: absolute;
    top: 36%;
    left: 69%;
}
.fa-angle-up{
    color: #525151;
}
.fa-pen-to-square{
    color: #525151;
    margin-left: 13px;
}
 .hiring{
    width: 270px;
    height: auto;
    background: #fff;
    overflow: hidden;
    position:fixed;
    top:82%;
    left: 75%;
    border-radius: 10px;
    
}

.app{
    /* width: 600; */
    border-radius: 10px;
    padding: 12px 0px;
    width: 285px;
    height: auto;
    background: #fff;
    border: 1px solid rgba(128, 128, 128, 0.411);
    position:fixed;
    top: 123%;
    /* bottom: 40%; */
    left: 74.5%;
}
.app a{
    text-decoration: none;
    padding: 5px 7px;
    color: gray; 
    font-weight: 400;   
}
.app span{
    border-radius: 5px;
    padding: 2px 2px;
    color: brown;
     background-color: palegoldenrod;
    margin-right: 5px; 
}
.footer{
    /* margin: 0px  px; */
    position: fixed;
    left: 75%;
    top: 135%;
    /* border: 1px solid black; */
    width: 20%;
}
.foot{
    position: fixed;
    text-decoration: none;
    /* gap: 12px; */
    margin: 15px;
    color: gray;
    font-size: 0.7rem;
}
.foot:hover{
    text-decoration: underline;
    color: #0a66c2;
}
.footer h6{
    font-size: 0.8rem;
    margin-top: 10px;
    margin-left: 10px;
    font-weight: 300;
    color: #525151;
}
.linkedin{
    color: rgba(0, 0, 255, 0.884);
    font-weight: 600;
    font-size: 0.9rem;
}
.fa-linkedin{
    color: rgba(0, 0, 255, 0.884);
    font-size:1rem;
}
.creatingpost{
   width: 610px;
   top: 42%;
   display: flex;
   margin-top: 10px;
   position: absolute;
   height:fit-content ;
   flex-direction: column;
   /* background-color: rgb(240, 240, 240); */
   /* border: 2px solid black; */
   justify-content: center;
   align-items: center;
   /* overflow: hidden;  */
}

.post-body{
border: 1px solid rgba(128, 128, 128, 0.37);
    /* margin-top: 0px; */
    border-radius: 9px;
    background-color: #fff;
    padding: 0.5rem;
    max-height: 50%;
   max-width: 95%;
   overflow: hidden;
   margin-bottom: 10px;
}
.user-info{
    position: relative;
    display: flex;
    width: 100%;
    /* flex-direction: row; */
    /* align-items: stretch; */
    justify-content: space-between;
}
h2{
    position: relative;
    display: inline-block;
    top: -29px;
    font-weight: 300;
    font-size: 1.2rem;
    left: 5%;
}
.user-pro-pic{
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.date-time{
    position: relative;
    margin-left: 3.8rem;
    top: -32px;
   
}
.date-time h6{
    font-weight: 300;
}
.date-time small{
    font-weight: 300;
    color: gray;
    margin-top: -10px;
}
.fa-earth{
    margin-left: 4px;
}
.des{
    position: relative;
    /* padding: 0.5rem; */
    top:-25px ;
    font-weight: 300;
}
.upload-image{

    top: -20px;
    position: relative;
    width: 110%;
    right:7%;
}
.likes-comments{
    position: relative;
    top: -25px;
    font-weight: 300;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
}
.comment-share{
    font-size: 12px;
    
}
.count-likes{
    margin: 2px;
}

.count-likes:hover{
    color: #0a66c2;
    text-decoration: underline;
}
.preview{
    display: flex;
    align-items: center;
font-size: 13px;
}
.preview .fa-thumbs-up {
    position: relative;
    border-radius: 50px;
    background-color:#0a66c2;
    color:white;
   padding: 5%;
}
.fa-thumbs-up{
    z-index: 211;
}
.fa-heart{
    padding: 5%;
     color:white;
     margin-left: -7px;
    position: relative;
    border-radius: 50px;
    background-color: red;
}
.likes-comment-icons{
    position: relative;
    width: 100%;
    top: -19px;
    border-top: 1px solid gray;
    padding-top: 6px;
    display:flex ;
    font-size: 18px;
    color: rgb(77, 76, 76);
    justify-content: space-evenly;
}
.likes-comment-icons > div{
    cursor: pointer;
}
.likes-comment-icons > div:nth-child(1):focus{
    color: #0a66c2;
}
.likes-comment-icons i{
    font-size: 16px;
}
.follow{
    border: none;
    margin-right: 15px;
    font-size: 18px;
    color: #0a66c2;
    font-weight: 400;
}
.follow span{
    /* margin-top: 5px; */
    font-size: 21px;
    font-weight: 500;
}
.follow:hover{
    color: darkblue;
}